html, body {
    height:100%;
    margin:0;
    padding:0;
}

* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
 
.b-header{
    width: 957px;
    background: white;
    border-bottom: 2px solid black;
    position: absolute; 
    top: 0;
    height: 60px !important;
    opacity:.8;
}

.b-header__title{
    height: 60px;
    width: 70%;
    float: left;
    padding: 10px 0 0 30px;
    font-size: 30px;
    color: #003399;
    font-weight: bold;
}

.b-header__user{
    height: 30px;
    width: 30%;
    padding: 5px 0 0 100px;
    font-weight: bold;
    float: left;
}

.b-header__language{
    height: 30px;
    float: right;
    width: 30%;
    text-align: right;
    padding: 5px 10px 0 0;
}
 
.b-menu__container{
    background: grey;
    top:65px;
    height: 220px;
    width: 200px;
    position:absolute;
    left:0;
}
 
.b-menu{
    background: white;
	border-top: 1px solid grey;
    height: 200px;
    margin: 0 20px 20px 20px;
}

.b-menu__item{
    height: 45px;
    padding: 10px 5px 10px 5px;
}

.b-menu__item_active{
	height: 45px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
}

.b-menu__item__text{
	font-size: 15px;
	width: 130px;
	float: left;
	color: blue;
}

.b-menu__item__image{
	height: 16px;
	width: 16px; 
	position: relative;
	top: 2px;
	float: left;
}

.b-footer {
    width: 957px;
    background: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: fixed; 
    bottom: 0;
    height: 30px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    padding: 7px 0 0 0;
}

.b-body__container {
    position:relative;
    height: 100%;
    width:960px;
    padding:60px 0 30px 0;
    margin:0 auto 0 auto;
    border: 2px solid black;
}

.b-content__container{
    background:white;
    height: 100%;
    min-width: 300px;
    margin-left: 200px;
}

.b-content{
	border: 1px solid grey;
    background: white;
    height: calc(100% - 10px);
    margin: 5px 5px 5px 5px;
    overflow: auto;
    position: relative;
    top: 0;
    bottom: 5px;
}

.b-filer__container{
    height: 40px;
}

.b-filter{	
    margin-left: 80px;
    float:left;
}

.b-filter__button{
	float:left;
	height: 35px;
	width: 110px;
	margin: 0 5px 0 5px;
}

.b-news__container{
	height: calc(100% - 120px);
	width: 100%;
	position: relative;
	top:0;
	bottom: 60px;
	overflow: auto;
}

.b-content__news{
    margin: 0 5px 0 5px;
    overflow:hidden;
}

.b-news__item{
	min-height: 190px;
	overflow: hidden;
}

.b-news__title{
    height: 72px;
    width: 60%;
    float: left;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
}

.b-news__author{
    width: 25%;
    height: 72px;
    float: left;
    text-align:right;
    padding: 5px;
}

.b-news__date{
    width: 15%;
    height: 72px;
    float: left;
    padding: 5px;
}

.b-news__shorttext{
    width: 100%;
    float: left;
    height: 72px;
    padding: 5px;
    font-size: 20px;
}

.b-news__tags{
    width: 65%;
    float: left;
    text-align: right;
    padding: 5px;
}

.b-news__comments{
    width: 20%;
    float: left;
    height: 36px;
    padding: 5px;
    color: red;
}

.b-news__view__button{
	color: blue;
    width: 15%;
    float: left;
    height: 36px;
    padding: 5px;
}

.b-news__delete__button{
	float: right;
	height: 35px;
	margin: 5px 0 5px 5px;;
}

.b-login__container{
	margin: 5px;
	border: solid grey 1px;
	min-width: 300px;
	position: relative;
	top: 5px;
	bottom: 5px;
	height: calc(100% - 15px);
	
}

.b-login{
	position: absolute;
	width: 26%;
	left: 37%;
	top: 50%;
	float:left;
}

.b-login__field{
	clear:both;
	text-align:right;
	line-height:25px;
}

.b-login__label{
	float:left;
	padding-right:10px;
}

.b-login__button{
	float: right;
	height: 35px;
}

.b-pagination__container{
	height: 20px;
	width: 180px;
	left: 37%;
	position: relative;
}

.b-pagination{
	background: #f2f2f2;
    padding: 20px;
    width: 100%;
    position: absolute;
    height: 60px;
    float: left;
    bottom: 0;
}

.b-page{
	display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.b-page__active{
	border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.b-newsview__news__container{
	padding: 5px 30px 0 30px;
	height: calc(100% - 225px);
	width: 100%;
	position: relative;
	top:25px;
	bottom: 210px;
	overflow: auto;
}

.b-newsview__news__title{
	width: 100%;
	height: 40px;
	font-weight: bold;
	float: left;
}

.b-newsview__news__author{
	width: 80%;
	height: 30px;
	float: left;
}

.b-newsview__news__date{
	width: 20%;
	height: 30px;
	text-decoration: underline;
	float: left;
}

.b-newsview__news__fulltext{
	width:100%;
	float: left;
	text-align: justify;
}

.b-newsview__news__comment__container{
	width: 80%;
	float: left;
}

.b-newsview__news__comment__item{
	float: left;
	padding: 10px;
	width: 100%;
}

.b-newsview__news__comment__date{
	width: 100%;
	text-decoration: underline;
	float: left;
}

.b-newsview__news__comment__body{
	width: 95%;
	background: gray;
	margin: 10px 100px 10px 10px;
	float: left;
	position: relative;
}

.b-newsview__news__comment__text{
	float: left;
	width: 95%;
	text-align: justify;
}

.b-newsview__news__comment__textarea{
	width: 100%;
	height: 60px;
	resize: none;
	float: left;
}

.b-newsview__news__comment__post{
	float: right;
}

.b-newsview__news__comment__delete{
	width: 5%;
	float: right;
}

.b-newview__postform{
	position: absolute;
	height: 180px;
	left: 125px;
	bottom: 15px;
	width: 500px;
}

.b-newsview__navigation__back{
	position: absolute;
	top:5px;
	left:5px;
}

.b-newsvview__navigation__previous{
	position: absolute;
	height: 30px;
	width: 80px;
	left: 20px;
	bottom: 5px;
}

.b-newsvview__navigation__next{
	position: absolute;
	text-align: right;
	height: 30px;
	width: 80px;
	right: 20px;
	bottom: 5px;
}

.b-errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
	float: right;
}

.b-addnews__container{
	padding: 30px 50px 0 10px;
	height: 540px;
	width: 100%;
}

.b-addnews__title__container{
	width: 100%;
	height: 50px;
	float: left;
	padding: 10px 0 10px 0;
}

.b-addnews__title__label{
	width: 15%;
	line-height: 30px;
	float: left;
	vertical-align: middle;
	font-weight: bold;
}

.b-addnews__title__input{
	height:30px;
	width: 85%;
	float: left;
}

.b-addnews__date__container{
	width: 100%;
	height: 50px;
	float: left;
	padding: 10px 0 10px 0;
}

.b-addnews__date__label{
	width: 15%;
	line-height: 30px;
	float: left;
	vertical-align: middle;
	font-weight: bold;
}

.b-addnews__date__input{
	height:30px;
	width: 30%;
	float: left;
}

.b-addnews__brief__container{
	width: 100%;
	height: 120px;
	float: left;
	padding: 10px 0 10px 0;
}

.b-addnews__brief__label{
	width: 15%;
	line-height: 100px;
	float: left;
	vertical-align: middle;
	font-weight: bold;
}

.b-addnews__brief__textarea{
	height:100%;
	width: 85%;
	float: left;
	resize: none;
}

.b-addnews__content__container{
	width: 100%;
	height: 180px;
	float: left;
	padding: 10px 0 10px 0;
}

.b-addnews__content__label{
	width: 15%;
	line-height: 160px;
	float: left;
	vertical-align: middle;
	font-weight: bold;
}

.b-addnews__content__textarea{
	height:100%;
	width: 85%;
	float: left;
	resize: none;
}

.b-addnews__select__container{
	width: 100%;
	height: 40px;
	float: left;
}

.b-addnews__select{
	position: relative;
	width:70%;
	left: 30%;
}

.b-addnews__button__save{
	width: 15%;
	height: 30px;
	float: right;
}

.b-button__reference {
	background: none !important;
	border: none;
	padding: 0 !important;
	font: inherit;
	/*border is optional*/
	border-bottom: 1px solid #444;
	cursor: pointer;
	float: left;
	margin: 0 5px 0 5px;
}

.b-addupdateauthors__container{
	margin-top: 10px;
	position: relative;
	left: 15%;
	width: 550px;
}

.b-author__container{
	margin: 5px;
	height:40px;
}

.b-author__container_error{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 5px;
	width:500px;
}

.b-author__label{
	font-weight: bold;
	width: 135px;
	text-align: center;
	float: left;
}

.b-author__input{
	width: 200px;
	float: left;
}

.b-addupdatetags__container{
	margin-top: 10px;
	position: relative;
	left: 15%;
	width: 550px;
}

.b-tag__container{
	margin: 5px;
	height:40px;
}

.b-tag__label{
	width: 110px;
	text-align: center;
	font-weight: bold;
	float: left;

}

.b-tag__input{
	width: 200px;
	float: left;
}

.b-tag__container_error{
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 5px;
	width:500px;
}

.b-accessdenied__container{
	margin: 5px 5px 45px 5px;
	min-width: 300px;
	height: 200px;
	position: relative;
	top: 35%;
}

.b-accessdenied__title{
	font-weight: bold;
	font-size: 30px;
	height: 60px;
	text-align: center;
	width: 100%;
	color: red;
	vertical-align: middle;
	line-height: 60px;
	
}

.b-accessdenied__message{
	font-size: 20px;
	text-align: center;
	width: 100%;
	height: 20px;
}

.b-accessdenied__login{
	width: 100%;
	text-align: center;
}

.b-sessionexpiration__container{
	margin: 5px 5px 45px 5px;
	min-width: 300px;
	height: 200px;
	position: relative;
	top: 35%;
}

.b-sessionexpiration__title{
	font-weight: bold;
	font-size: 30px;
	height: 120px;
	text-align: center;
	width: 100%;
	color: red;
	vertical-align: middle;
	line-height: 60px;
	
}

.b-sessionexpiration__login{
	width: 100%;
	text-align: center;
}

.b-error__container{
	margin: 5px 5px 5px 5px;
	min-width: 300px;
	height: 100%;
	overflow: auto;
	border: 1px solid red;
}

.b-error__item{
	width: 100%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: red;
	float: left;
}

.b-error__message{
	width: 100%;
	float: left;
	font-weight: bold;
	text-align: justify;
	font-size: 18px;
	color: orange;
	text-decoration: underline;
	margin-bottom: 5px;
}

.b-error__stacktrace{
	width: 100%;
	float: left;
	color: black;
	font-size: 12px;
	text-align: justify;
}

.b-error__login{
	width: 100%;
	text-align: center;
	float: left;
}