html, body {
    height:100%;
    margin:0;
    padding:0;
}

* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
 
.b-header{
    width: 957px;
    background: white;
    border-bottom: 2px solid black;
    position: absolute; 
    top: 0;
    height: 60px !important;
    opacity:.8;
}

.b-header__title{
    height: 60px;
    width: 70%;
    float: left;
    padding: 10px 0 0 30px;
    font-size: 30px;
    color: #003399;
    font-weight: bold;
}

.b-header__user{
    height: 30px;
    width: 30%;
    padding: 5px 0 0 100px;
    font-weight: bold;
    float: left;
}

.b-header__language{
    height: 30px;
    float: right;
    width: 30%;
    text-align: right;
    padding: 5px 10px 0 0;
}
 
.b-footer {
    width: 957px;
    background: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: fixed; 
    bottom: 0;
    height: 30px;
    text-align: center;
    line-height: 10px;
    vertical-align: middle;
    padding: 7px 0 0 0;
}

.b-body__container {
    position:relative;
    height: 100%;
    width:960px;
    padding:60px 0 30px 0;
    margin:0 auto 0 auto;
    border: 2px solid black;
}

.b-content__container{
    background:white;
    height: 100%;
    min-width: 300px;
}

.b-content{
	border: 1px solid grey;
    background: white;
    height: calc(100% - 10px);
    margin: 5px 5px 5px 5px;
    overflow: auto;
    position: relative;
    top: 0;
    bottom: 5px;
}

.b-filer__container{
    height: 40px;
}

.b-filter{	
    margin-left: 200px;
    float:left;
}

.b-filter__button{
	float:left;
	height: 35px;
	width: 110px;
	margin: 0 5px 0 5px;
}

.b-news__container{
	height: calc(100% - 120px);
	width: 100%;
	position: relative;
	top:0;
	bottom: 60px;
	overflow: auto;
}

.b-content__news{
    margin: 0 5px 0 5px;
    overflow:hidden;
}

.b-news__item{
	min-height: 190px;
	overflow: hidden;
}

.b-news__title{
    height: 72px;
    width: 60%;
    float: left;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

.b-news__author{
    width: 25%;
    height: 72px;
    float: left;
    text-align:right;
    padding: 5px;
}

.b-news__date{
    width: 15%;
    height: 72px;
    float: left;
    padding: 5px;
}

.b-news__shorttext{
    width: 100%;
    float: left;
    height: 72px;
    padding: 5px;
    font-size: 20px;
}

.b-news__tags{
    width: 65%;
    float: left;
    text-align: right;
    padding: 5px;
}

.b-news__comments{
    width: 20%;
    float: left;
    height: 36px;
    padding: 5px;
    color: red;
}

.b-news__view__button{
	color: blue;
    width: 15%;
    float: left;
    height: 36px;
    padding: 5px;
}

.b-pagination__container{
	height: 20px;
	width: 440px;
	left: 32%;
	position: relative;
}

.b-pagination{
	background: #f2f2f2;
    padding: 20px;
    width: 100%;
    position: absolute;
    height: 60px;
    float: left;
    bottom: 0;
}

.b-page{
	display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.b-page__active{
	border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.b-newsview__news__container{
	padding: 5px 30px 0 30px;
	height: calc(100% - 225px);
	width: 100%;
	position: relative;
	top:25px;
	bottom: 210px;
	overflow: auto;
}

.b-newsview__news__title{
	width: 100%;
	height: 40px;
	font-weight: bold;
	float: left;
}

.b-newsview__news__author{
	width: 80%;
	height: 30px;
	float: left;
}

.b-newsview__news__date{
	width: 20%;
	height: 30px;
	text-decoration: underline;
	float: left;
}

.b-newsview__news__fulltext{
	width:100%;
	float: left;
	text-align: justify;
}

.b-newsview__news__comment__container{
	width: 80%;
	float: left;
}

.b-newsview__news__comment__item{
	float: left;
	padding: 10px;
	width: 100%;
}

.b-newsview__news__comment__date{
	width: 100%;
	text-decoration: underline;
	float: left;
}

.b-newsview__news__comment__body{
	width: 95%;
	background: gray;
	margin: 10px 100px 10px 10px;
	float: left;
	position: relative;
}

.b-newsview__news__comment__text{
	float: left;
	margin: 5px;
	text-align: justify;
}

.b-newsview__news__comment__textarea{
	width: 100%;
	height: 60px;
	resize: none;
	float: left;
}

.b-newsview__news__comment__post{
	float: right;
}

.b-newview__postform{
	position: absolute;
	height: 180px;
	left: 125px;
	bottom: 15px;
	width: 500px;
}

.b-newsview__navigation__back{
	position: absolute;
	top:5px;
	left:5px;
}

.b-newsvview__navigation__previous{
	position: absolute;
	height: 30px;
	width: 80px;
	left: 20px;
	bottom: 5px;
}

.b-newsvview__navigation__next{
	position: absolute;
	text-align: right;
	height: 30px;
	width: 80px;
	right: 20px;
	bottom: 5px;
}

.b-errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
	float: right;
}

.b-error__container{
	margin: 5px 5px 5px 5px;
	min-width: 300px;
	height: 100%;
	overflow: auto;
	border: 1px solid red;
}

.b-error__item{
	width: 100%;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: red;
	float: left;
}

.b-error__message{
	width: 100%;
	float: left;
	font-weight: bold;
	text-align: justify;
	font-size: 18px;
	color: orange;
	text-decoration: underline;
	margin-bottom: 5px;
}

.b-error__stacktrace{
	width: 100%;
	float: left;
	color: black;
	font-size: 12px;
	text-align: justify;
}

.b-error__back{
	width: 100%;
	text-align: center;
	float: left;
}